<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxrs="http://cxf.apache.org/transports/http/configuration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://cxf.apache.org/jaxrs
	   http://cxf.apache.org/schemas/jaxrs.xd


	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context.xsd 
	   http://www.springframework.org/schema/tx 
	   http://www.springframework.org/schema/tx/spring-tx.xsd http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/wsdl/http-conf.xsd">

    <!--服务的实现类-->
    <bean id="AlbumDATAService" class="com.baizhi.service.Impl.AlbumDATAServiceImpl"/>
    <bean id="BannerDATAService" class="com.baizhi.service.Impl.BannerDATAServiceImpl"/>

        <!--<jaxrs:server address="" serviceClass=""></jaxrs:server>-->
<jaxrs:server address="">

</jaxrs:server>
</beans>