<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.GuruMapper">
  <resultMap id="BaseResultMap" type="com.baizhi.entity.GuruDATA">
    <id column="gid" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <collection property="essay" ofType="com.baizhi.entity.EssayDATA" javaType="List">
      <id column="eid" property="id"/>
      <result column="title" property="title"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, head
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.baizhi.entity.GuruDATA">
    select g.id, gid,name,head,e.id eid,title
    from cm_guru g
    left join cm_essay e
    on g.id=e.gid
    where g.id= #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultType="com.baizhi.entity.GuruDATA">
    select id,name,head from cm_guru
  </select>


  <select id="selectAllAdd" resultType="com.baizhi.entity.GuruDATA">
    select id,name,head from cm_guru
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cm_guru
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.GuruDATA">
    insert into cm_guru (id, name, head
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{head,jdbcType=VARCHAR}
      )
  </insert>
  <!--<insert id="insertSelective" parameterType="com.baizhi.entity.GuruDATADATA">
    insert into cm_guru
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="head != null">
        head,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="head != null">
        #{head,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.GuruDATADATA">
    update cm_guru
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="head != null">
        head = #{head,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>-->
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.GuruDATA">
    update cm_guru
    set name = #{name,jdbcType=VARCHAR},
      head = #{head,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>