<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.MenuMapper">


  
  <resultMap id="OneMap" type="com.baizhi.entity.Menu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="iconcls" jdbcType="VARCHAR" property="iconcls" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <collection property="menu" ofType="com.baizhi.entity.Menu" javaType="List" select="com.baizhi.dao.MenuMapper.selectTwo"  column="id">
    </collection>
  </resultMap>

  <resultMap id="TwoMap" type="com.baizhi.entity.Menu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="iconcls" jdbcType="VARCHAR" property="iconcls" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="level" jdbcType="VARCHAR" property="level" />
  </resultMap>


  <select id="selectOne" resultMap="OneMap">
    select id,name,iconcls,href,level from cm_menu where lev='1'
  </select>

  <!--查二级标签-->
  <select id="selectTwo" resultMap="TwoMap">
  select id,name,iconcls,href,level from cm_menu where mid=#{id}
  </select>

</mapper>